<div id="footer" class="footer-main-container">
<p class="footer-header">{{ "Follow Us" | translate }}</p>
<div class="social-icons">

    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="footer-link">
        <i class="fab fa-instagram"></i>
        <div class="footer-link-text">@Books.lb</div>
    </a>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="footer-link">
        <i class="fab fa-facebook"></i>
        <div class="footer-link-text">@Books.lb</div>
    </a>
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="footer-link">
        <i class="fab fa-twitter"></i>
        <div class="footer-link-text">@Books.Lebanon</div>
    </a>
    <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer" class="footer-link">
        <i class="fab fa-linkedin"></i>
        <div class="footer-link-text">Books</div>
    </a>
</div>
</div>